html {
  background-color: #f3e6d5;
  font-family: "Helvetica", sans-serif;
}

.container {
  margin: 100px 200px;
}

.project-link {
  margin-top: 10px;
  font-family: monospace;
  font-size: 16px;
}

.title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: bolder;
  font-size:  3em;
}

.homelink {
  color: rgb(84, 84, 84);
  text-decoration: none;
  font-weight: bold;
}

a {
  text-decoration: none;
}