.code-block .background {
    stroke: black;
    stroke-width: 2px;
    fill: aliceblue;
}

.code-block.selected .background {
    stroke: #d8a527;
}

.connection {
    stroke: #111;
    stroke-width: 1px;
}

.block-name-label {
    cursor: default;
}

html, body {
    height: 100%;
}

body {
    background-color: gainsboro;
    margin: 0;
}

.click-catcher {
    fill-opacity: 0;
    width: 100%;
    height: 100%;
}

.ghostBlock {
    opacity: 0.5;
    pointer-events: none;
}

.flex-grow {
    flex-grow: 1;
}

.layout-vertical {
    display: flex;
    flex-direction: column;
}

.layout-horizontal {
    display: flex;
    flex-direction: row;
}

.action-bar {
    flex-grow: 0;
    padding-bottom: 20px;
}

.action-bar button {
    height: 80px;
    width: 100px;
    background-color: #57b;
    color: #eee;
    font-family: fantasy;
    margin: 0;
    padding: 10px 0;
}

.click-area {
    opacity: 0;

}

.io-line {
    stroke: black;
    stroke-width: 1px;
}


 /*svg styles*/
svg {
    border: 2px solid #17416d;
}
svg.mode-placement .moduleElement:hover .click-catcher {
    stroke: maroon;
    stroke-width: 2px;
    cursor: pointer;
}

svg.mode-connection .io-area:hover {
    cursor: pointer;
}

svg.mode-connection .io-area:hover .io-line {
    stroke-width: 2px;
}

/*side panel*/

.side-panel {
    border: 2px solid #17416d;
    width: 300px;
    overflow-y: auto;
    background-color: #b7d5ec;
    padding: 10px;
}

.subsection-title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.input-container {
    display: flex;
}

.input-container .input-name {
    flex-shrink: 1;
    flex-basis: 50%;
}

.blueprint-contents textarea {
    min-height: 5em;
}

.messages {
    background-color: white;
    overflow-y: scroll;
    height: 150px;
}

.message {
    font-size: 10px;
    font-family: sans-serif;
}

.message.error {
    color: red;
}

.message.warn {
    color: #d8c827;
}